body {
	scroll-behavior: smooth;
}

.bg-success {
	background-color: #2F7958 !important;
}

#saiba-mais:hover a {
	color: #000000 !important;
	text-decoration: none;
}

#deputados {
	background-color: rgb(230, 230, 230);
}