body {
	scroll-behavior: smooth;
}

.btn-primary {
    color: #fff;
	background-color: #2F7958 !important;
    border-color: #2F7958;
}

.bg-success {
	background-color: #2F7958 !important;
}

#deputados {
	background-color: rgb(230, 230, 230);
}

#saiba-mais:hover a {
	color: #000000 !important;
	text-decoration: none;
}

#deputados {
	background-color: rgb(230, 230, 230);
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #2F7958;
    border-color: #2F7958;
}

.page-item.disabled .page-link {
    pointer-events: none;
    cursor: auto;
    background-color: #b5babe  !important;
    border-color: #dee2e6;
}
